<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi There!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/landing.css">
</head>
<body>
    <nav class="nav" >
        <div class="nav-menu flex-row" >
            <div class="nav-brand">
                <a href="#" class="text-gray">Title</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fa fa-bars" ></i>
                </div>
            </div>
            <div>
                <ul class="nav-items"  >

                    <li class="nav-link">
                        <a href="#">About Us</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Career</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Services</a>
                    </li>
                    <li class="nav-link login-btn" style="padding-left:40px" >
                        <a href="/login">Login / SignUp</a>
                    </li>
                </ul>
            </div>

            <div class="social text-gray">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram" ></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github" ></i></a>
            </div>
        </div>
    </nav>

    <main>
        <!-- hero section----------------------------------- -->
        <section class="site-title">
            <div class="site-background">
                <h3>Go Live</h3>
                <h1>Increase your business by going Live</h1>
                <button class="btn">Explore</button>
            </div>
        </section>



        <!-- hero section----------------------------------- -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="script/script.js"></script>
</body>
</html>